<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kebijakan Hapus Akun</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            width: 600px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        ul {
            list-style-type: disc;
            padding-left: 20px;
            margin-top: 0;
        }
        .note {
            background-color: #e0ebff;
            padding: 15px;
            border-radius: 8px;
            margin-top: 20px;
        }
        .note p {
            margin: 0;
            padding-left: 20px;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>Kebijakan Hapus Akun</h1>
    <ul>
        <li>Anda dapat menghapus akun Cares Anda dengan memilih tab <strong>Akun</strong> di aplikasi Cares</li>
        <li>Pilih <strong>Ajukan Penghapusan Akun</strong></li>
        <li>Pilih <strong>Lanjut</strong></li>
        <li>Silakan cek email Anda untuk mendapatkan kode OTP yang digunakan dalam pengajuan penghapusan akun</li>
        <li>Masukkan kode OTP tersebut pada halaman <strong>Verifikasi Kode OTP</strong></li>
        <li>Kemudian masukkan alasan penghapusan akun, email (isi email agar kami dapat menghubungi Anda)</li>
        <li>Silakan baca dan centang pada bagian <strong>Syarat & Ketentuan</strong> penghapusan akun</li>
        <li>Pilih <strong>Kirimkan</strong></li>
    </ul>
    
    <div class="note">
        <p><strong>Catatan</strong></p>
        <ul>
            <li>Penghapusan akun bersifat permanen dan tidak dapat diubah. Setelah penghapusan berhasil, Anda tidak dapat masuk dan melihat riwayat akun lagi.</li>
            <li>Cares berhak menolak permintaan pembuatan akun di masa mendatang dari Anda.</li>
        </ul>
    </div>
</div>

</body>
</html>
